# Entornos Virtuales y Caché de Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# Node / Frontend
node_modules/
.next/
frontend/dist/
frontend/.env*.local
!frontend/src/shared/lib/
!frontend/src/shared/lib/queryClient.ts

# Bases de datos y Variables de Entorno
.env
db.sqlite3
*.log

# Editores e IDEs
.vscode/
.idea/
.DS_Store